test_local
elasticsearch-6.0.0
kibana-6.0.0-darwin-x86_64
data
sdk.cfg
bin
/temp_test/
/dist/
/search_tools.cfg
/classes/
/out
/search_tools.cfg.bak
*.jar
*.war
*.iml
/work/
.idea/
.metadata/
KBaseSearchEngine.iml
/deployment/jettybase/logs/
/test_types