test_local
sdk.cfg
bin
/temp_test/
/dist/
/search_tools.cfg
/classes/
/search_tools.cfg.bak
*.jar
*.war
/work/
.idea/
.metadata/
out/
test_types/
lib/lib.iml
test/test.iml
KBaseSearchEngine.iml
/deployment/jettybase/logs/