## GENERAL SETTINGS

# search MongoDB information. This is used when running any event generators or starting
# the indexer coordinator or workers.
search-mongo-host=
search-mongo-db=
search-mongo-user=
search-mongo-pwd=

# INDEXER

# ElasticSearch information. This is used when starting the indexer coordinator or workers.
elastic-host=
elastic-port=
elastic-user=
elastic-password=
elastic-namespace=kbase.1
scratch=

# Workspace and auth urls and token information. This is used when starting the indexer
# coordinator or workers.
workspace-url=
auth-service-url=https://kbase.us/services/auth/api/legacy/KBase/Sessions/Login
auth-service-url-allow-insecure=false
indexer-token=

# Type information. This is used when starting the indexer coordinator or workers.
types-dir=
type-mappings-dir=

### EVENT GENERATION

# workspace MongoDB information. This is used when running the workspace event generator.
workspace-mongo-host=
workspace-mongo-db=
workspace-mongo-user=
workspace-mongo-pwd=

# a comma delimited list of workspace ids or names to ignore when generating workspace events.
workspace-blacklist=

# a comma delimited list of workspace types to process. A prefix of the type name of any length
# greater than 1 may be provided.
workspace-types=