# This is an example file that demonstrates how to specify storage-to-search type mappings beyond
# those embedded in the type transformation files (in the storage-type and storage-object-type
# parameters).

# Type mappings specified in a mappings file override any equivalent mappings in the type
# transformation files.

# Type mappings can be split or combined among files as desired, except that only one storage
# type can be specified per mapping file.

# Currently only YAML files are supported for type mappings.

# specify the storage type (e.g. the source of the data)
storage-type: WS

# specify the types included in this mapping file.
types:
    # A simple mapping that is a 1:1 map from the storage object type to the search type.
    KBaseGenomeAnnotations.Assembly:
        # if type is present any other fields are ignored.
        type: Assembly
    # A more complex mapping that takes versions of the storage object type into account.
    KBaseGenome.Genome:
        # Specify the default search type to use if a specific version of the storage object type
        # does not match any of the specified versions or is not provided. If a default is not
        # specified, the object will not be indexed. Even with a default type, objects may fail
        # to index if the new object type version is not backwards compatible with the default 
        # version.
        default: Genome3
        # specify versions of the storage type and how they map to the search types.
        versions:
            1: Genome1
            2: Genome1
            3: Genome2
            4: Genome3
